.center {
    margin: 0 auto;
}

#profile {
    margin: 0 auto;
    float: none;
    text-align: center;
    border-width: 0px;
}

#donorMainInfo {
    margin: 0 auto;
    float: none;
    text-align: center;
}

#navbar {
    text-align: center;
}

.donorResInfo {
    float: left; 
    margin-top: 7px; 
    padding-top: 0px; 
    padding-left: 7px
}


#canvasrow {
    margin: 0 auto;
    float: none;
    text-align: center;
}

.confidence {
    text-align: center;
    float: none;
}

#results {
    margin: 0 auto;
    float: none;
    text-align: center;
    border-width: 0px;
}

#firstResult {
    padding-bottom: 5px;
}

.titleNav {
    text-align: center;
    border-width: 0px;
    font-size: 20px;
    margin-top: 7px
}

.searchResContainer {
    padding-bottom: 5px; 
    padding-top: 5px; 
    border-top: 1px solid gray;
}

.subseqRes {
    padding-bottom: 5px; 
    padding-top: 5px; 
    border-top: 1px solid gray;
 }
 
#statsContainer {
    margin-top:-15px;
}

#realEstateBar {
    width: 30%;
}

#businessBar {
    width: 50%;
}

#securitiesBar {
    width: 65%;
}

#incomeBar {
    width: 85%;
}

.backBut {
    margin-top: -3px  !important;
}

#navbar {
    font-color: #fff !important;

}

#homecontainer {
    text-align: center;
    border-width: 0px;
    font-size: 20px;
}

#search {
    margin: 0 auto;
    float: none;
    text-align: center;
    background-color: #fff;
    border-width: 0px;
}

.alignRightText {
    text-align: right;
    float: right;
}

.alignLeftText {
    text-align: left;
    float: right;
}