.center {
    margin: 0 auto;
}

#navbar {
    text-align: center;
}

#canvasrow {
    margin: 0 auto;
    float: none;
    text-align: center;
}

.titleNav {
    text-align: center;
    border-width: 0px;
    font-size: 20px;
    margin-top: 7px
}

.backBut {
    margin-top: -3px  !important;
}

#navbar {
    font-color: #fff !important;

}

/*Index.html*/
#homecontainer {
    text-align: center;
    border-width: 0px;
    font-size: 20px;
}

/*Results.html*/
.donorResInfo {
    float: left; 
    margin-top: 7px; 
    padding-top: 0px; 
    padding-left: 7px
}
#results {
    margin: 0 auto;
    float: none;
    text-align: center;
    border-width: 0px;
}

#firstResult {
    padding-bottom: 5px;
}
.searchResContainer {
    padding-bottom: 5px; 
    padding-top: 5px; 
    border-top: 1px solid gray;
}

.subseqRes {
    padding-bottom: 5px; 
    padding-top: 5px; 
    border-top: 1px solid gray;
 }


/*Profile.html*/
#profile {
    margin: 0 auto;
    float: none;
    text-align: center;
    border-width: 0px;
}

.confidence {
    text-align: center;
    float: none;
}

#statsContainer {
    margin-top:-15px;
}

.alignRightText {
    text-align: right;
    float: right;
}

#realEstateBar {
    width: 30%;
}

#businessBar {
    width: 50%;
}

#securitiesBar {
    width: 65%;
}

#incomeBar {
    width: 85%;
}


/*Property.html*/
.propertyInfo {
    float: left; 
    margin-top: 7px; 
    padding-top: 0px;
    padding-left: 7px;
    text-align: left;
}